@model StazorPages.Models.IRetrievedContent
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--[endif]-->

<head>
    <meta charset="utf-8" />
    <title>@string.Format("Lord Lamington - {0}", Model.Title)</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Lord Lamington" />
    <meta name="keywords" content="Lord Lamington" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />

    <!--Template style -->
    <link rel="stylesheet" type="text/css" href="/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/flaticon2.css" />
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/fullpage.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="/css/style_VII.css" />
    <link rel="stylesheet" type="text/css" href="/css/responsive_VII.css" />

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="demo-3">
    @{
        var wrapperClass = Model.GetContentTypeAlias() == "home" ? "ck_top_header_main_section_wrapper" : null;
    }
    <div class="@wrapperClass float_left">
        @await Component.InvokeAsync("MainNavigation")

        @RenderSection("TopNavInsert", false)

    </div>

    @RenderBody()

    <div class="ck_call_main_wrapper float_left">
        <div class="container">
            <div class="ck_cll_left_wrapper">
                <div class="ck_cll_icon align-self-center">
                    <i class="flaticon-phone-contact"></i>
                    <h4>Call Us</h4>
                    <p>1800 LAMINGTON</p>
                </div>
                <div class="ck_cll_img">
                    <img src="/images/lam-plate.png" alt="img">
                </div>
            </div>
            <div class="ck_cll_right_wrapper">
                <div class="cl_cll_form">
                    <input type="text" placeholder="Your email" autocomplete="off">
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </div>

    <div class="section2_bottom_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="btm_foter_box">
                        <p>
                            @string.Format("Copyright © {0} Lord Lamington. All Rights Reserved.", DateTime.Now.Year)
                        </p>
                        <small>Stazor Page generated at @DateTime.Now.ToUniversalTime().ToString("dd-MMM-yyyy HH:mm:ss UTC") <br/>
                            Powered by Umbraco Heartcore. Curious about how this site works? <a href="https://github.com/emmanueltissera/LordLamington.Heartcore" target="_blank" title="See the source code">See the source code</a>.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/fullpage.min.js"></script>
    <script src="/js/scrolloverflow.js"></script>
    <script src="/js/demo3.js"></script>
    <script src="/js/easings.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/custom_VII.js"></script>

</body>

</html>